.btn-wrapper {
    text-align: center;
    z-index: 5;
    position: fixed;
    left: 45%;
    bottom: 15%;
}

.btn-load {
    background-color: white;
    border: 2px solid #EBEBEB;
    border-radius: 4px;
    cursor: pointer;
    /*padding: 10px;*/
    height: 30px;
    width: 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    color: #26292c;
    font-weight: bold;
}