/*.persons-container {*/
/*    position: relative;*/
/*    top: 90px;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 80%;*/
/*    margin-bottom: 10px;*/
/*    z-index: 1;*/
/*}*/

.ant-list-split .ant-list-item {
    border: 1px solid #EBEBEB !important;
    margin: 10px !important;
}

.persons-container {
    position: relative;
    top: 11%;
    left: 0;
    max-height: 87%;
    overflow: auto;
    padding-bottom: 3%;
}

.person-organization {
    color: darkgray;
    font-size: 13px;
}

.person-avatar {
    background-color: cornflowerblue;
    font-size: medium;
}

.ant-list-bordered {
    border: none !important;
}

.ant-list-split .ant-list-item {
    margin: 10px 30px !important;
    cursor: pointer;
}

