.search-bar {
    position: relative;
}

.search-bar-input {
    background-color: #EBEBEB;
    border: none;
}

.search-bar-input .ant-input {
    background-color: #EBEBEB;
    font-size: 12px;
}

.search-bar-icon {
    position: relative;
    top: 3px;
    left: 25px;
    color: #757578;
}

.ant-input-affix-wrapper {
    border-radius: 15px !important;
}