.person-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid #EBEBEB;
    margin: 20px 40px;
    padding: 15px;
}

.person-box:first-of-type {
    margin-top: 30px;
}

.person-info {
    line-height: 5px;
}

.person-info > p {
    margin: 15px;
}

.person-organization {
    color: darkgray;
}

.org-icon {
    position: relative;
    top: 3px;
    left: 0;
    margin-right: 5px;
    color: #414246;
}

.person-avatar {
    border-radius: 50%;
}

.modal-person-info-basic {
    text-align: center;
}

.modal-person-avatar {
    border-radius: 50%;
}

.divider {
    display: block;
    height: 1px;
    background-color: #EBEBEB;
}

.modal-person-info-details {
    display: flex;
    flex-direction: row;
}